doctype html
html
    head
        tittle
        link(href='Problema/assets/css/bootstrap.min.css', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')    
        link(href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet')
        link(href='Problema/assets/css/main.css' , rel='stylesheet')
    - var texto = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    mixin servics(classe , titulo)
        i(class=classe)
        h5= titulo
        p(class='text-gris')= texto
    mixin portfoli(titulo , text , src)
        img(src=src)
        h5= titulo
        p(class='text-gris')= text
        
        
        
    body
        include _header.jade
        include _services.jade
        include _portfolio.jade
        include _about.jade
        include _footer.jade
        
        
